@model Haver_Niagara.Models.Purchasing

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Purchasing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PurchaseSignature" class="control-label"></label>
                <input asp-for="PurchaseSignature" class="form-control" />
                <span asp-validation-for="PurchaseSignature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignatureDate" class="control-label"></label>
                <input asp-for="SignatureDate" class="form-control" />
                <span asp-validation-for="SignatureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasingDec" class="control-label"></label>
                <select asp-for="PurchasingDec" class="form-control"></select>
                <span asp-validation-for="PurchasingDec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
