
@model IEnumerable<Haver_Niagara.Models.NCR>

﻿@{
    ViewData["Title"] = "Home Page";
}




<h1 class="mt-4 mb-4"> Non-conformance Log</h1>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Date Created</th>
            <th>PO Number</th>
            <th>Supplier</th>
            <th>Problem</th>
            <th>Stage</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.NCR_Number</td>
            <td>@item.InspectDate</td>
            <td>PO Number from where in DB?</td>
            <td>stage? </td>
            <td><button type="button" class="btn btn-primary">Active</button></td>
            <td><button type="button" class="view-btn" title="View NCR report"><ion-icon name="eye"></ion-icon></button></td>

@*          
            <td>1</td>
            <td>2024-01-25</td>
            <td>4500745301</td>
            <td>700505 NIAGARA PRECISION LTD</td>
            <td>Poor quality surface finish</td>
            <td>Quality Inspection</td>
            <td><button type="button" class="btn btn-primary">Active</button></td>
            <td><button type="button" class="view-btn" title="View NCR report"><ion-icon name="eye"></ion-icon></button></td> *@
        </tr>
        }
    </tbody>
</table>