
@model IEnumerable<Haver_Niagara.Models.NCR>

﻿@{
    ViewData["Title"] = "Home Page";
}




<h1 class="mt-4 mb-4"> Non-Conformance Portal</h1>


@using (Html.BeginForm())
{
    <div class="display-flex">
        <a asp-controller="NCRs" asp-action="Create" class="btn btn-primary">Create New</a>
        <a asp-action="List" class="btn btn-primary">View NCR List</a>
    </div>

}

