
@model IEnumerable<Haver_Niagara.Models.NCR>

﻿@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="mt-4 mb-4">Welcome</h1>
    <h4>What would you like to do?</h4>
</div>


@using (Html.BeginForm())
{
    <div class="d-flex justify-content-center mt-3">
        <a asp-controller="NCRs" asp-action="Create" class="btn btn-primary me-3">Create New NCR Report</a>
        <a asp-controller="Home" asp-action="List" class="btn btn-primary">View Existing NCR Reports</a>

    </div>

}

