@model Haver_Niagara.Models.NCR

@{
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
    ViewData["Title"] = @Model.FormattedID;
}

<!--Import Tailwind CSS Library-->
<script src="https://cdn.tailwindcss.com"></script>

<h1>NCR# @Model.FormattedID</h1>

<div class="report">
    <div>

    </div>
</div>
