@model Haver_Niagara.Models.NCR

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NCR</h4>
<hr />
@{
    // if theres no pictures set value of false to avoid null reference error
    var hasPictures = Model.Product?.Medias?.Any() ?? false;
    //If any images exist, display them
        if(hasPictures)
        {
            //Realization: For each because theres multiple pictures not JUST one.
            foreach (var media in Model.Product.Medias)
            {
                @:<div>
                    string imageBase64 = Convert.ToBase64String(media.Content);
                             string imageSrc = string.Format("data: " + media.MimeType + ";base64,{0}", imageBase64);
                                <img src="@imageSrc" alt="Image of NCR Product ID @Model.ProductID" title="NCR Image" />
                @:</div><hr/>
            }
        }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="NCR_Number" class="control-label"></label>
                <input asp-for="NCR_Number" class="form-control" />
                <span asp-validation-for="NCR_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesOrder" class="control-label"></label>
                <input asp-for="SalesOrder" class="form-control" />
                <span asp-validation-for="SalesOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectName" class="control-label"></label>
                <input asp-for="InspectName" class="form-control" />
                <span asp-validation-for="InspectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectDate" class="control-label"></label>
                <input asp-for="InspectDate" class="form-control" />
                <span asp-validation-for="InspectDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NCRClosed" /> @Html.DisplayNameFor(model => model.NCRClosed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QualSignature" class="control-label"></label>
                <input asp-for="QualSignature" class="form-control" />
                <span asp-validation-for="QualSignature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualDate" class="control-label"></label>
                <input asp-for="QualDate" class="form-control" />
                <span asp-validation-for="QualDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            @* Check box options for images. If pictures, loop through and for each display checkbox to remove ?*@
            @* Unsure of how to proceed. How will user know which checkbox is which image?  *@
            @if (hasPictures)
            {
                foreach (var media in Model.Product.Medias)
                {
                    <div class="row">
                        <div class="form-check m-3">                @* Value = gets if of each media *@
                            <input class="form-check-input" type="checkbox" name="removeImages" value="@media.ID" />
                            <label class="form-check-label" for="removeImages">
                                <strong>Check to Remove Images</strong>
                            </label>
                        </div>
                    </div>
                }
            }
            @* Images to upload  *@
            <div class="form-group">
                <label class="control-label custom-file-label">Images To Upload:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePictures" id="thePictures"/>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
