html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

.bg-nav {
    background-color: #0C2340;
}

/*.nav-icon-list{
    font-size: 20px;
    margin-left: 3px;
    border: 1px solid white;
}

.nav-link-list{
    border: 1px solid white;
    display: inline-flex;

}*/

.bg-haver {
    /*    background-color: #0C2340;
    opacity: 80%;*/
    background-color: #1C335E;
}

/*eye icon under action column in ncr table*/
.view-btn {
    color: gray;
    font-size: 30px;
    border: none;
    background: transparent;
}

/*headers for NCR details view*/
.section-header {
    background-color: #0C2340;
    color: white;
}

/*status buttons form NCR Log*/
.status-btn {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin: 10px;
    cursor: default;
}

.closed {
    /*background-color: #DC3220;*/
    background-color: #b51963;
}

.stage {
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 20px;
    margin-top: 5px;
    margin-bottom: -5px;
    text-align: center;
    color: #0C2340;
    /*background: #0C2340;*/
}

/*stage classes*/
.stage-qual1 {
    background: linear-gradient(to right, rgba(92, 154, 219, 0.4) 0%, rgba(92, 154, 219, 0.4) 25%, transparent 25%, transparent 100%);
}

.stage-eng2 {
    /*   background: linear-gradient(to right, rgba(92, 154, 219, 0.5) 0%, rgba(92, 154, 219, 0.5) 50%, transparent 50%, transparent 100%);*/
    background: linear-gradient(to right, rgba(0, 191, 178, 0.4) 0%, rgba(0, 191, 178, 0.4) 35%, transparent 35%, transparent 100%);
}

.stage-oper3 {
    /* background: linear-gradient(to right, rgba(92, 154, 219, 0.5) 0%, rgba(92, 154, 219, 0.5) 75%, transparent 75%, transparent 100%);*/
    background: linear-gradient(to right, rgba(0, 191, 178, 0.4) 0%, rgba(0, 191, 178, 0.4) 55%, transparent 55%, transparent 100%);
}

.stage-procure4 {
    /*  background: linear-gradient(to right, rgba(92, 154, 219, 0.5) 0%, rgba(92, 154, 219, 0.5) 100%, transparent 100%, transparent 100%);*/
    background: linear-gradient(to right, rgba(0, 191, 178, 0.4) 0%, rgba(0, 191, 178, 0.4) 75%, transparent 75%, transparent 100%);
}

.stage-qual5 {
    /*  background: linear-gradient(to right, rgba(92, 154, 219, 0.5) 0%, rgba(92, 154, 219, 0.5) 100%, transparent 100%, transparent 100%);*/
    background: linear-gradient(to right, rgba(0, 191, 178, 0.4) 0%, rgba(0, 191, 178, 0.4) 90%, transparent 90%, transparent 100%);
}

.stage-complete {
    background: #558ECB;
    color: white;
    text-align: center;
}

.report-container {
    padding: 30px 30px;
    border-radius: 20px;
}

/*NCR log border*/
.list-container {
    border: 2px solid #0C2340;
    border-radius: 20px;
}

/*delete buttons content image and links in edit*/
.delete, .delete-link {
    font-size: 14px;
}

.create-btn-icon {
    font-size: 22px;
    position: relative;
    top: 5px;
    margin-left: 3px;
}

.archive-btn-icon{
    position: relative;
    top: 2px;
}

.archive-btn {
    background: #b51963;
    color: white;
}

.archive-btn:hover {
    background: white;
    color: #b51963;
    border-color: #b51963;
}

.btn-back{
    border: none;
    background: transparent;
    margin-top: 25px;
    margin-right: 10px;
}

.btn-back-icon {
    background-color: #1C335E;
    border-radius: 30px;
    color: white;
    font-size: 40px;
}

.text-under-heading {
    margin-left: 60px;
}

#SupplierPanel p {

    background-color: white;

}
